<figure class="col-sm-4">
    <div class="artist card-responsive">
        <img src="{{ artist.image }}" alt="{{ artist.name }}" class="artist_image" />        
        <figcaption class="artist_caption">
            <h3 class="artist_name">{{ artist.name }}</h3>
            <p class="artist_description">{{ artist.description }}</p>
            <div class="text-center">
                <a href="{{ artist.link }}" class="btn btn-responsive btn-primary button-margin-top">Meer info</a>
            </div>
        </figcaption>       
    </div>
</figure>