<figure class="collection-item">
	<a href="product.html" class="collection-item_link">
		<img src="images/collection/monet.jpg" alt="monet" class="collection-item_image" />
	</a>
	<figcaption class="collection-item_caption">
		<a href="product.html" class="collection-item_link">
			<h3 class="collection-item_name">Waterlelies</h3>
			<p class="collection-item_artist">Monet</p>
			<p class="collection-item_price">&euro; 1.000.000,-</p>
            <a href="cart.html" class="btn btn-compact btn-primary collection-item_cart"><strong>
                + <i class="fa fa-shopping-cart font-large"></i>
            </strong></a>
		</a>
	</figcaption>
	<a href="" class="collection-item_favorite"><i class="fa fa-star"></i></a>
</figure>