<div class="cart_row row">
    <div class="row-same-height">
        <div class="col-xs-6 col-sm-2 col-sm-height col-middle">
            <img src="images/collection/monet.jpg" alt="monet" class="collection-item_image">
        </div>
        <div class="col-sm-4 col-sm-height col-middle">
            <h3 class="cart_title">Waterlelies</h3>
            <p class="cart_artist">Monet</p>
        </div>
        <div class="col-sm-6 col-sm-height col-middle cart_details">
            <div class="row">
                <div class="col-sm-4"><span class="visible-xs-inline">Formaat:</span> 200 × 1276 cm</div>
                <div class="col-sm-4"><span class="visible-xs-inline">Verzendkosten:</span> &euro; 7,50</div>
                <div class="col-sm-4"><span class="visible-xs-inline">Prijs:</span> &euro; 1.000.000 <a href="#" class="pull-right cart_delete"><i class="fa fa-times"></i></a></div>            
            </div>
        </div>
    </div>
</div>