<div class="cart_row row">
    <div class="row-same-height">
        <div class="col-xs-4 col-sm-3 col-lg-2 col-sm-height col-middle">
            <img src="images/collection/monet.jpg" alt="monet" class="img-responsive">
        </div>
        <div class="col-sm-3 col-lg-4 col-sm-height col-middle cart_product">
            <h3 class="cart_title">Waterlelies</h3>
            <p class="cart_artist">Monet</p>
        </div>
        <div class="col-sm-6 col-sm-height col-middle cart_details">
            <div class="row">
                <div class="col-sm-4 cart_detail"><span class="visible-xs-inline cart_detail_label">Formaat:</span> 200 × 1276 cm</div>
                <div class="col-xs-7 col-sm-4 cart_detail"><span class="visible-xs-inline cart_detail_label">Soort:</span> Schilderij</div>
                <div class="col-xs-5 col-sm-4 cart_price">&euro; 1.000.000 <a href="#" class="pull-right cart_delete hidden-xs"><i class="fa fa-times"></i></a></div>            
            </div>
        </div>
        <a href="#" class="pull-right cart_delete visible-xs"><i class="fa fa-times"></i></a>
    </div>
</div>