.article-small {
	margin-top: 30px;
	text-align: center;
    
	.article_header {
		margin-top: 30px;
		color: #000000;
		text-align: left;
	}

	.article_icon .fa {
        background: $brand-primary;
        border-radius: 50%;
        color: #ffffff;
        display: inline-block;
        font-size: 80px;
        line-height: 150px;
        height: 150px;
        width: 150px;
        text-align: center;
	}

	.article_content {
		margin-bottom: 30px;
        text-align: left;
	}
        
    @media (min-width: $grid-float-breakpoint) and (max-width: $screen-sm-max) {
        .article_icon .fa {
            margin-top: 50px;
        }
    }
    
    @media (max-width: $grid-float-breakpoint-max) {
        background: #fff;
        border-radius: 2px;
        overflow: hidden;
        padding: 15px;
        
        .article_icon {
            background: $brand-primary;
            margin: -15px;
        }
    }
}