.artists {
	.artist {
		margin-top: 45px;
		text-align: center;
	}

	.artist_image {
		border: 5px solid #ffffff;
		border-radius: 150px;
		width: 70%;
		max-width: 300px;
	}

	.artist_caption {
		margin-top: 30px;
	}
}