.article-small {
	margin-top: 45px;
	text-align: center;

	.article_header {
		margin-top: 30px;
		color: #000000;
		text-align: center;
	}

	.article_icon {
		background: $brand-primary;
		border-radius: 50%;
		color: #ffffff;
		display: inline-block;
		font-size: 80px;
		line-height: 150px;
		height: 150px;
		width: 150px;
		text-align: center;
		@media (min-width: $grid-float-breakpoint) and (max-width: $screen-sm-max) {
			margin-top: 50px;
		}
	}

	.article_content {
		margin-bottom: 30px;
	}
}