.artists {
	.artist {
		margin-top: 30px;
		text-align: center;
	}
    
    .artist_image {
        border: 5px solid $gray-lighter;
        border-radius: 150px;
        width: 70%;
        max-width: 300px;
    }
    
    .artist_name {
        color: #000;
        text-align: left;
    }
    
	.artist_caption {
		margin-top: 30px;
	}

	.artist_description {
		margin-bottom: 30px;
        text-align: left;
	}

    @media (max-width: $grid-float-breakpoint-max) {
        .artist {
            background: $gray-lighter;
            border-radius: 2px;
            overflow: hidden;
            padding: 15px;
        }
        
        .artist_image {
            border: 5px solid #fff;
            margin-top: 15px;
        }
    }
}