.btn {
	padding: 10px 30px;
	transition: color 0.25s, background 0.25s;
	box-shadow: none !important;

	&.btn-lg {
		padding: 15px 45px;
	}

	&.btn-sm {
		padding: 6px 12px !important;
		font-size: 14px;
	}

	&.btn-compact {
		padding: 10px 15px;
	}

	&.btn-responsive {
		@media (max-width: $grid-float-breakpoint-max) {
            font-size: $font-size-large;
			width: 100%;
		}
	}
}