.button {
	background: $brand-primary;
	border-radius: 2px;
	color: #ffffff;
	display: inline-block;
	font-weight: lighter;
	padding: 10px 30px;
	text-decoration: none !important;
	transition: color 0.25s, background 0.25s;

	&:active {
		color: #ffffff !important;
	}

	&:hover {
		color: #ffffff;
		background: $link-hover-color;
	}

	.button-large {
		font-size: $font-size-large;
		padding: 15px 45px;
	}

	.button-margin-top {
		margin-top: 19px;
	}

	@media (max-width: $grid-float-breakpoint-max) {
		font-size: $font-size-large;
		width: 80%;
		max-width: 400px;
	}
}