.cart_button {
	@media (max-width: $grid-float-breakpoint-max) {
		display: inline-block !important;
		background: $brand-primary !important;
		border-radius: 2px;
		padding: 11px !important;
		@include navbar-vertical-align(34px);
		height: 44px;
		width: 54px;
		text-align: center;
	}

	.cart_badge {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 10px;
		font-weight: normal;
		background: $brand-primary;
		color: #ffffff;
		width: 18px;
		height: 18px;
		padding: 0;
		line-height: 18px;

		@media (max-width: $grid-float-breakpoint-max) {
			background: $gray-dark;
			right: 5px;
			top: 5px;
		}
	}
}

.cart {
    margin-top: 30px;
    
    .cart_header {
        color: $gray;
        font-weight: lighter;
        margin: 0 -15px;
    }

    .cart_row {
        margin: 10px -15px;
        position: relative;

        .cart_delete {
            color: $gray;
        }
                
        .cart_title {
            margin-bottom: 0;
        }
        
        .cart_artist {
            margin-bottom: 0;
        }
        
		@media (max-width: $grid-float-breakpoint-max) {
            .cart_details {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 33.33%;
                padding-left: 0;
            }
            
            .cart_header {
                margin-bottom: 44px;
            }
            
            .cart_delete {
                position: absolute;
                right: 15px;
                top: 0;
            }
            
            .cart_detail {
            }
            
            .cart_detail_label {
                color: $gray;
            }
            
            .cart_price {
                color: $gray;
                font-weight: bold;
                text-align: right;
            }
        }
    }
}

.cart_total {
    background: $gray-lighter;
    border-radius: 2px;
    color: $gray;
    padding: 10px 0;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    
    .cart_total_price {
        color: $brand-primary;
        font-weight: normal;
    }
}