.cart_button {
	@media (max-width: $grid-float-breakpoint-max) {
		display: inline-block !important;
		background: $brand-primary !important;
		border-radius: 2px;
		padding: 11px !important;
		@include navbar-vertical-align(34px);
		height: 44px;
		width: 54px;
		text-align: center;
	}

	.cart_badge {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 10px;
		font-weight: normal;
		background: $brand-primary;
		color: #ffffff;
		width: 18px;
		height: 18px;
		padding: 0;
		line-height: 18px;

		@media (max-width: $grid-float-breakpoint-max) {
			background: $gray-dark;
			right: 5px;
			top: 5px;
		}
	}
}

.cart {
		margin-top: 30px;
}

.cart-overview {
    
    thead {
        border-bottom: 4px solid $gray-lighter;
    }
    
    tfoot {
        border-top: 4px solid $gray-lighter;
    }
    
    th {
        border-bottom: 0 solid #fff !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    
    td {
        padding-top: 15px !important;
        padding-bottom: 0 !important;
        vertical-align: middle !important;
        border-top: 0 solid #fff !important;
    }
    
    tbody > tr:last-child > td {
        padding-bottom: 15px !important;
    }
    
    tfoot > tr > td {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    
    tr > td:first-child,
    tr > th:first-child {
        padding-left: 0;
    }
    
    tr > td:last-child,
    tr > th:last-child {
        padding-right: 0;
    }
    
    .cart_delete {
        background-color: $brand-danger;
        border-radius: 25px;
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        
        i {
            color: #fff;
            font-size: 25px;
            line-height: 2;
        }
    }
    
    .cart_total_text, .cart_total_price {
        color: $gray;
        font-size: $font-size-large;
        font-weight: bold;
    }
}

.cart_buttons {
    margin-top: 30px;
}