.card {
    background: $gray-lighter;
    border-radius: 2px;
    overflow: hidden;
    padding: 15px;
}

.card-responsive {
    @media (max-width: $grid-float-breakpoint-max) {
        background: $gray-lighter;
        border-radius: 2px;
        overflow: hidden;
        padding: 15px;
    }
}