.collection {
	list-style: none;
	line-height: 2;
}

.collection-item {
	background-color: $gray-lighter;    
    border-radius: 2px;
	margin-top: 30px;
    overflow: hidden;
    position: relative;
}

.collection-item_name {
	line-height: 1.2;
}

.collection-item_link {
	color: #000000;
	display: block;
	text-decoration: none !important;
	position: relative;
}

.collection-item_link:hover {
	color: #000000;
}

.collection-item_image {
	width: 100%;
}

.collection-item_caption {
	padding: 15px;
}

.collection-item_artist {
	margin: 0 0 3px !important;
}

.collection-item_name {
	margin: 0 !important;
}

.collection-item_price {
	font-weight: lighter;
    margin-bottom: 0;
}

.collection-item_favorite {
	position: absolute;
	top: 15px;
	right: 15px;
    background-color: #fff;
    border-radius: 20px;
	display: inline-block;
    width: $font-size-base + (10px * 2);
    height: $font-size-base  + (10px * 2);
    text-align: center;
	line-height: 1;
    padding: 10px;
    opacity: 0.8;
}

.collection-item_favorite:hover {
    opacity: 1;
}

.collection-item_cart {
    position: absolute;
    right: 15px;
    bottom: 15px;
}