.collection {
	list-style: none;
	margin-top: 15px;
	line-height: 2;
}

.collection-item {
	margin-top: 30px;
}
.collection-item_name {
	line-height: 1.2;
}

.collection-item_link {
	color: #000000;
	display: block;
	text-decoration: none !important;
}

.collection-item_link:hover {
	color: #000000;
}

.collection-item_image {
	width: 100%;
}

.collection-item_caption {
	text-align: center;
	padding: 15px;
	position: relative;
}

.collection-item_artist {
	margin: 0 0 3px !important;
}

.collection-item_name {
	margin: 0 !important;
}

.collection-item_price {
	font-weight: lighter;
	margin-bottom: 11px;
}