.hero {
	background-color: $gray-darker;
}

.hero-image {
	width: 100%;
	opacity: 0.5;
}

.hero_caption {
	position: absolute;
	bottom: 50%;
	right: 0;
	left: 0;
	margin-bottom: -140px;
	text-align: center;
	@media (max-width: $grid-float-breakpoint) {
		margin-bottom: -90px;
	}
}

.hero_title {
	color: #ffffff;
}

.hero_button {
	margin-top: 30px;

	&.button:active {
		color: #ffffff !important;
	}

	&.button:hover {
		background: #ffffff;
		color: $brand-primary;
	}
}