.hero {
	background-color: $gray-darker;
}

.hero-image {
	width: 100%;
	opacity: 0.5;
}

.hero_caption {
	position: absolute;
	bottom: 50%;
	right: 0;
	left: 0;
	margin-bottom: -140px;
	text-align: center;
	@media (max-width: $grid-float-breakpoint) {
		margin-bottom: -90px;
	}
}

.hero_title {
	color: #ffffff;
}

.hero_button {
	display: inline-block;
	background: $brand-primary;
	color: #ffffff;
	font-size: $font-size-large;
	font-weight: lighter;
	margin-top: 30px;
	padding: 15px 45px;
	text-decoration: none !important;
}

.hero_button:active {
	color: #ffffff !important;
}

.hero_button:hover {
	background: #ffffff;
	color: $brand-primary;
}