.content {
	height: 100%;
}

.section {
	padding: 45px 0;
}

.section-hero {
	position: relative;
    height: 100%;
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

.section-alternative {
	@extend .section;
	background: $gray-lighter;
}

.section-collection {
	padding: 45px 0 30px;
}

.section_search {
	margin-top: 60px;
	padding: 30px 0;

	@media (max-width: $grid-float-breakpoint-max) {
		padding: 15px 0;
	}
}

.section_shop {
	margin-top: -24px;
	padding: 15px 0 45px;
}

.section_header {
	text-align: center;
}

.section_tagline {
	color: $gray-light;
	font-size: $font-size-large;
	font-weight: lighter;
}