.filters {
	@media (max-width: $grid-float-breakpoint-max) {
		.filters_body {
			background: $gray-lighter;
			border-radius: 2px;
			padding: 15px 15px 0;
			margin-top: 30px;
		}
	}

	@media (min-width: $grid-float-breakpoint) {
		display: block !important;
		visibility: visible !important;
		height: auto !important;
	}
}

.filter {
	margin-top: 30px;
	user-select:none;

	@media (max-width: $grid-float-breakpoint-max) {
		margin-top: 0px;
		& + .filter {
			margin-top: 30px;
		}

		.filter_option {
			display: inline-block;
			margin-right: 2px;

			label {
				background: #ffffff;
				color: $brand-primary;
				border-radius: 2px;
				padding: 5px 10px;
			}

			input:checked + label {
				background: $brand-primary;
				color: #ffffff;
			}
			
			input {
				display: none;
			}
		}
	}

	.radio input[type="radio"], 
	.radio-inline input[type="radio"], 
	.checkbox input[type="checkbox"], 
	.checkbox-inline input[type="checkbox"] {
		margin-left: 0;
		cursor: pointer;
	}

	&.filter-price {
		label {
			font-weight: lighter;
		}
	}

	&.filter-color .filter_option {
		display: inline-block;
		margin-right: 3px;
		line-height: 1;

		label {
			border-radius: 2px;
			padding: 5px;
			text-indent: -2000px;
			overflow: hidden;
			width: 22px;
			height: 22px;
			border: 1px solid transparent;
			opacity: 0.5;
		}

		input:checked + label {
			background: $brand-primary;
			color: #ffffff;
			opacity: 1;
		}
		
		input {
			display: none;
		}
	}
}

.shop {
	margin-top: 66px;

	@media (max-width: $grid-float-breakpoint-max) {
		margin-top: 0px;
	}
}

.sorting {
	position: relative;
	top: 30px;

	@media (max-width: $grid-float-breakpoint-max) {
		margin-top: 30px;
		position: static;
		
		.text-right > span {
			display: block;
			height: 22px;
			margin-bottom: 11px;
		}

		.btn-primary {
			margin-top: 33px;
		}
	}

	.text-right select {
		margin-left: 10px;
		width: auto;
		display: inline-block;
	}
}

.filter_header {
	@extend h3;
	border: none;
}
