<section class="section section-first section_breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="">Kunstenaars</a></li>
            <li><a href="">{{ product.artist_fullname }}</a></li>
            <li class="active">{{ product.name }}</li>
        </ol>
    </div>
</section>
<section class="section section-product product">
	<div class="container">
		<div class="row">
            <div class="col-md-8 product_images">
                <img src="images/collection/monet.jpg" alt="monet" class="img-responsive" />
                <ul class="product_thumbnails list-unstyled">
                    <li>
                        <a href="" class="thumbnail active">
                            <img src="images/collection/monet.jpg" alt="monet" />
                        </a>
                    </li>
                    <li>
                        <a href="" class="thumbnail">
                            <img src="images/collection/monet.jpg" alt="monet" />
                        </a>
                    </li>
                    <li>
                        <a href="" class="thumbnail">
                            <img src="images/collection/monet.jpg" alt="monet" />
                        </a>
                    </li>
                    <li>
                        <a href="" class="thumbnail">
                            <img src="images/collection/monet.jpg" alt="monet" />
                        </a>
                    </li>
                    <li>
                        <a href="" class="thumbnail">
                            <img src="images/collection/monet.jpg" alt="monet" />
                        </a>
                    </li>
                    <li>
                        <a href="" class="thumbnail">
                            <img src="images/collection/monet.jpg" alt="monet" />
                        </a>
                    </li>
                </ul>
            </div>
            <aside class="col-md-4 product_buy">
                <div class="card">
                    <div class="card_details">
			            <h1 class="card_product">{{ product.name }}</h1>
                        <ul class="list-unstyled card_specs">
                            <li class="card_artist">{{ product.artist_fullname }}</li>
                            <li>{{ product.type }}</li>
                            <li>{{ product.specs.size }}</li>
                        </ul>
                    </div>
                    <hr class="card_line" />
                    <div class="card_buy">
                        <p class="card_price">&euro; {{ product.price }}</p>
                        <a href="" class="btn btn-cart btn-primary btn-full-width btn-lg">
                            <span class="btn_icon btn_icon-plus">+</span> 
                            In winkelwagen
                        </a>
                    </div>
                    <hr class="card_line" />
                    <div class="card_options">
                        <p>
                            <a href="" class="btn btn-cart btn-default btn-full-width">
                                <span class="btn_icon"><i class="fa fa-heart"></i></span>
                                Aan favorieten toevoegen
                            </a>
                        </p>
                        <p>
                            <a href="" class="btn btn-cart btn-default btn-full-width">
                                <span class="btn_icon"><i class="fa fa-eye"></i></span> 
                                Bekijk in woonkamer
                            </a>
                        </p>
                    </div>
                    <hr class="card_line" />
                    <h3 class="text-gray">Waarom Pour l' Art?</h3>
                    <ul class="list-checks">
                        <li>Gratis thuis bezorgd</li>
                        <li>Groot aanbod</li>
                        <li>Steun uw favoriete kunstenaar</li>
                    </ul>
                </div>
            </aside>
            <div class="product_description col-sm-7 col-md-8">
                <header>
                    <h2>Beschrijving</h2>
                </header>
                <p class="lead">De waterlelies van Claude Monet zijn wereldberoemd. Meer dan vijfentwintig jaar legde de grote meester van het impressionisme zich toe op het maken van schilderijen met waterlelies, in totaal zijn het er ongeveer 250.</p>
                <p>Hij schilderde ze in zijn atelier op het land bij het huis dat hij in 1890 gekocht had in het Franse plaatsje Giverny, dat gelegen is ten Westen van Parijs vlakbij de Seine. Het land was omgevormd tot een grote tuin met een omvangrijke vijver. Zo was Monet altijd in de gelegenheid om buiten te kunnen schilderen, wat hem goed van pas kwam naar mate hij ouder werd.</p>
                <p>Hij werd door de bevriende Franse premier Georges Clemenceau aangemoedigd om een ambitieus werk te maken, waarin zijn geliefde motief van waterlelies een hoofdrol kon spelen. Acht monumentale rondgebogen muurpanelen moesten de kijker geheel omgeven met atmosferische waterpartijen. Om dit werk tot stand te brengen maakte Monet gebruik van zowel observatie als herinnering. Het resultaat wordt ook wel ‘De Sixtijnse Kapel van het impressionisme’ genoemd. Sinds 1927, het jaar na de dood van de grote meester, is het te bewonderen in het Musée de l’Orangerie in de Tuilerieën te Parijs.</p>
            </div>
            <aside class="col-sm-5 col-md-4 artist">
                <div class="card">
                    <figure>
                        <img src="images/winners/2.jpg" alt="Larry Parker" class="artist_image">
                        <figcaption class="artist_caption">
                            <h3 class="artist_name">Claude Monet</h3>
                            <p>Monet verhuisde toen hij ongeveer vijf jaar oud was met zijn familie naar Le Havre. Hij zat in de jaren 1861-1862 in militaire dienst in Algerije, hetgeen zijn latere keus om vooral landschappen te schilderen beïnvloed kan hebben.</p>
                            <p><a href="artist.html">Meer van Claude Monet</a></p>     
                        </figcaption>
                    </figure>
                </div>
            </aside>
            <header class="col-xs-12">
                <h2 class="product_other_header">Meer van Claude Monet</h2>
            </header>
            <div class=" collection">
                {% for collectionItem in collectionArtist %}
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        {% include "../../blocks/collection_item.html" collectionItem %}
                    </div>
                {% endfor %}
            </div>
            <header class="col-xs-12">
                <h2 class="product_other_header">Bekijk ook eens</h2>
            </header>
            <div class="collection">
                {% for collectionItem in collectionAlternative %}
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        {% include "../../blocks/collection_item.html" collectionItem %}
                    </div>
                {% endfor %}
            </div>
		</div>
	</div>
</section>