<section class="section section-first section_breadcrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="">Kunstenaars</a></li>
            <li><a href="">Monet</a></li>
            <li class="active">{{ product.name }}</li>
        </ol>
    </div>
</section>
<section class="section section-product">
	<div class="container">
		<header class="section_header" id="collection">
			<h2>{{ product.name }}</h2>
		</header>
		<div class="row">
            <div class="col-sm-9">
                <img src="images/collection/monet.jpg" alt="monet" class="img-responsive" />
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <a href="" class="btn btn-responsive btn-primary btn-lg">In winkelwagen</a>
                </div>
            </div>		    
		</div>
	</div>
</section>
