<section class="section">
	<div class="container">
		<div class="row col-md-9 shop">
			<div class="col-md-12">
				<span class="pull-left">Sorteer op:</span>
				<ul class="list-inline">
					{% for option in sort %}
						<li><a href="">{{ option }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="shop_items">
				{% for collectionItem in collection %}
					<div class="col-md-4">
						{% include "../../blocks/collection_item.html" collectionItem %}
					</div>
				{% endfor %}
			</div>
		</div>
		<form action="shop.html" method="get" class="col-md-3 filters">
			{% for filter in filters %}
				{% include "../../blocks/filter.html" filter %}
			{% endfor %}
		</form>
		<div class="col-md-12">
			<nav class="text-center">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li>
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</section>
