<section class="section section_shop">
	<div class="container">
		<form action="shop.html" method="get" class="row">
			{% include "sorting.html" %}
			{% include "filters.html" %}
			<div class="col-sm-9 col-lg-10 shop">
				{% block %}
				<ul class="shop_items row list-unstyled">
					{% for collectionItem in collection %}
						<li class="col-sm-6 col-md-4">
							{% include "../../blocks/collection_item.html" collectionItem %}
						</li>
					{% endfor %}
				</ul>
				{% include "../pagination.html" %}
			</div>
		</form>
	</div>
</section>
