<section class="section section-first section-cart">
	<div class="container">
		<header class="section_header" id="collection">
			<h2>Uw winkelwagen</h2>
			<p class="section_tagline">Bekijk de producten in uw winkelwagen.</p> 
		</header>
		<div class="cart">
            <hr class="hidden-xs" />
            <div class="cart_header row hidden-xs">
                <span class="col-sm-6 col-sm-push-3 col-lg-push-2 cart_header_item">Kunstwerk</span>
                <span class="col-sm-2 cart_header_item">Formaat</span>
                <span class="col-sm-2 cart_header_item">Soort</span>
                <span class="col-sm-2 cart_header_item">Prijs</span>
            </div>
            <hr />
            {% include "../../blocks/cart/cart_item.html" %}
            <hr />
            {% include "../../blocks/cart/cart_item.html" %}
            <hr />
            {% include "../../blocks/cart/cart_item.html" %}
            <hr />
            {% include "../../blocks/cart/cart_item.html" %}
            <hr />
            <div class="cart_total text-center">                
                <div class="row">
                    <span class="col-sm-10 cart_total_label text-right">Totaal:</span>
                    <span class="col-sm-2 cart_total_price text-left">&euro; 5.000.000,-</span>
                </div>
            </div>
            {% include "../../blocks/cart/cart_buttons.html" %}
		</div>
	</div>
</section>
