<section class="section section-first section-cart">
	<div class="container">
		<header class="section_header" id="collection">
			<h2>Uw winkelwagen</h2>
			<p class="section_tagline">Bekijk de producten in uw winkelwagen.</p> 
		</header>
            {% include "../../blocks/cart/cart_buttons.html" %}
		<div class="cart">
			<table class="table container cart-overview">
				<thead>
					<tr>
						<th class="col-xs-8">Kunstwerk</th>
						<th class="col-xs-3">Prijs</th>
						<th class="col-xs-1">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{% include "../../blocks/cart/cart_item.html" %}
						</td>
						<td>&euro; 1.000,-</td>
						<td><a href="#" class="cart_delete"><i class="fa fa-times"></a></i></td>
					</tr>
					<tr>
						<td>
							{% include "../../blocks/cart/cart_item.html" %}
						</td>
						<td>&euro; 1.000,-</td>
						<td><a href="#" class="cart_delete"><i class="fa fa-times"></a></i></td>
					</tr>
					<tr>
						<td>
							{% include "../../blocks/cart/cart_item.html" %}
						</td>
						<td>&euro; 1.000,-</td>
						<td><a href="#" class="cart_delete"><i class="fa fa-times"></a></i></td>
					</tr>
					<tr>
						<td>
							{% include "../../blocks/cart/cart_item.html" %}
						</td>
						<td>&euro; 1.000,-</td>
						<td><a href="#" class="cart_delete"><i class="fa fa-times"></a></i></td>
					</tr>
					<tr>
						<td>
							{% include "../../blocks/cart/cart_item.html" %}
						</td>
						<td>&euro; 1.000,-</td>
						<td><a href="#" class="cart_delete"><i class="fa fa-times"></a></i></td>
					</tr>
				</tbody>
				<tfoot>
				    <tr>
				        <td class="text-right cart_total_text">Totaal:</td>
				        <td colspan="2" class="cart_total_price">&euro; 5.000,-</td>
				    </tr>
				</tfoot>
			</table>
            {% include "../../blocks/cart/cart_buttons.html" %}
		</div>
	</div>
</section>
