<footer class="footer" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center footer_copyright">Copyright &copy; <span class="footer_brand">Pour L' Art</span> 2014</div>
			<ul class="col-sm-4 text-center footer_social">
				<li><a href=""><i class="fa fa-facebook footer_social-icon"></i></a></li><li><a href=""><i class="fa fa-twitter footer_social-icon"></i></a></li><li><a href=""><i class="fa fa-pinterest footer_social-icon"></i></a></li><li><a href=""><i class="fa fa-instagram footer_social-icon"></i></a></li>
			</ul>
			<div class="col-sm-4 text-center footer_links">
				<a href="">Algemene voorwaarden</a>
			</div>
		</div>
	</div>
</footer>