<div class="section-alternative" id="quote">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-3 col-md-push-5 col-sm-offset-1 col-sm-4 col-sm-push-6 text-center">
				<img src="images/quotes/davinci.jpg" alt="naam" class="quote_image" />
			</div>
			<blockquote class="col-md-4 col-md-pull-3 col-sm-5 col-sm-pull-4 col-xs-12 quote">
				<p class="quote_content">Art is never finished, only abandoned.</p>
				<cite class="quote_author">Leonardo Da Vinci</cite>
			</blockquote>
		</div>
	</div>
</div>		
